.one-column {
  @include base-grid();
  grid-template-columns: 1fr;
}

.two-columns {
  @include base-grid();
  grid-template-columns: 1fr 1fr;

  @media (max-width: 500px) {
    grid-template-columns: 1fr;
    justify-items: center;
    align-self: center;
    align-items: center;
  }
}

.three-columns {
  @include base-grid();
  grid-template-columns: 1fr 1fr 1fr;
}
