@mixin base-btn {
  cursor: pointer;
  font-family: "Stark", sans-serif;
  height: 42px;
  font-size: 1em;
  font-weight: 500;
  border: 1px solid transparent;
  transition: all 0.5s ease-in-out;
  background-color: #d3af37;
  color: white;

  &:active,
  &:focus {
    outline: none;
  }

  &:hover {
    background-color: black;
  }
}

@mixin input-element {
  input {
    font-family: "Stark", sans-serif;
    color: black;
    padding: 5px 0px 0px 0px;
    width: 100%;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px solid #d3af37;
    transition: 0.5s all ease-in-out, 0.5s ease-in-out;
    font-size: 1.1em;
    margin-bottom: 21px;

    &:focus {
      outline: none;
      border-bottom: 1px solid red;
    }
  }
}

@mixin base-grid() {
  display: grid;
  grid-gap: 21px;

  @media (max-width: 48em) {
    width: 50vw;
    height: 50vh;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    align-self: center;
  }
}

@mixin background() {
  background-image: url(../components/images/iron-man-armor-artwork-marvel-comics-1920x1080-38490.jpg);
  min-height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
}

@mixin workout() {
  display: grid;
  font-family: "Stark", sans-serif;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin: 20px;
  background-color: #d3af37;
  border-radius: 8px;
  border: 2px solid #bd1816;
  padding: 0px 25px 10px 25px;

  @media (max-width: 48em) {
    width: 50vw;
    height: 50vh;
    grid-template-rows: 1fr;
    grid-gap: 25px;
  }
}
