.nav-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  background-color: #d3af37;
  width: 100vw;

  .nav-link-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
    width: 100vw;

    @media (max-width: 500px) {
      display: none;
    }

    .link {
      text-decoration: none;
      color: black;
      font-size: 2em;
      text-align: center;
      font-family: "Stark";
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:hover {
        color: #bd1816;
      }
    }
  }

  .mobile-icon {
    display: none;

    @media (max-width: 500px) {
      display: block;
      font-size: 1.3rem;
      cursor: pointer;
    }
  }
}

.mobile-link-wrapper {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 999;
  background-color: black;

  .link {
    text-decoration: none;
    color: #d3af37;
    font-size: 2em;
    text-align: center;
    font-family: "Stark";
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &:hover {
      color: #bd1816;
    }
  }
}
