.nav-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  background-color: #d3af37;
  width: 100vw;

  .nav-link-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    width: 100vw;

    .link {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
